@media (max-width: 1507px) {
  .left-sidebar-expanded .ijd-messenger-button-container {
    width: 50px;
  }
  .left-sidebar-expanded .ijd-mbh-img-title-container span {
    display: none;
  }
  .left-sidebar-expanded .messenger-open .ijd-mbh-img-title-container span {
    display: flex;
  }
}
@media (max-width: 1460px) {
  .left-sidebar-expanded .user-profile-management-folder-view-folder-container {
    grid-template-columns: auto;
    grid-template-rows: 170px 615px;
  }
  .left-sidebar-expanded .user-profile-management-folder-view-title-buttons {
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: auto;
    grid-template-rows: 40px 40px 30px 40px;
    justify-items: center;
  }
  .left-sidebar-expanded .user-profile-management-folder-view-account-setting-button {
    grid-column: 1;
    grid-row: 1;
  }
  .left-sidebar-expanded .user-profile-management-folder-view-pub-profile-management-button {
    grid-column: 1;
    grid-row: 2;
  }
  .left-sidebar-expanded .user-profile-management-folder-view-title {
    grid-column: 1;
    grid-row: 3;
  }
  .left-sidebar-expanded .user-profile-management-folder-view-subtitle {
    align-items: flex-start;
    grid-column: 1;
    grid-row: 4;
  }
}
@media (max-width: 1450px) {
  .csd-clpc-content-container {
    flex-direction: column;
  }
  .csd-clpc-cc-information-area {
    margin: 10px 0 0 0;
  }
  .csd-clpc-cc-nc-cl-header {
    font-size: .9rem;
    grid-template-columns: minmax(30px, 50px) minmax(72px, 110px) minmax(65px, 90px) minmax(45px, 60px) minmax(75px, 100px) minmax(75px, 125px) minmax(170px, auto) 150px;
  }
  .csd-projects-landing .csd-clpc-cc-nc-cl-header {
    font-size: .9rem;
    grid-template-columns: minmax(30px, 50px) minmax(50px, 60px) minmax(90px, 140px) minmax(50px, 140px) minmax(70px, 150px) minmax(190px, auto) minmax(100px, 115px);
  }
  .csd-clpc-cc-nc-clh-lead-type {
    text-align: center;
  }
  .csd-clpc-cc-nc-cl-list-item {
    grid-template-columns: minmax(30px, 40px) minmax(72px, 115px) auto;
  }
  .csd-projects-landing .csd-clpc-cc-nc-cl-list-item {
    grid-template-columns: minmax(30px, 40px) minmax(50px, 60px) auto;
  }
  .csd-clpc-cc-nc-cll-info {
    grid-template-columns: minmax(65px, 90px) minmax(45px, 60px) minmax(75px, 100px) minmax(75px, 125px) minmax(170px, auto) 135px;
  }
  .csd-projects-landing .csd-clpc-cc-nc-cll-info {
    grid-template-columns: minmax(80px, 140px) minmax(35px, 140px) minmax(75px, 150px) minmax(185px, auto) 100px;
  }
}
@media (max-width: 1440px) {
  .view-folder-grid {
    grid-template-columns: repeat(5,170px);
  }
}
@media (max-width: 1410px) {
  .left-sidebar-expanded .installation-progress-full-maincontent-content-header {
    padding: 0 10px 0 10px;
  }
  .left-sidebar-expanded .installation-progress-full-maincontent-content {
    padding: 22px 10px 0 10px;
  }
  .csd-cvc-general-info-show-rating .csd-cvci-gic-ig-full-name-value {
    font-size: 1rem;
  }
}
@media (max-width: 1360px) {
  .left-sidebar-expanded .step-history-sidebar-open .ofds4-steps-menu select, .left-sidebar-expanded .step-history-sidebar-open .ofds4-shm-steps-menu select {
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    text-align-last: left;
    padding: 0 0 0 40px;
  }
  .left-sidebar-expanded .step-history-sidebar-open .ofds4-resume-button a {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .left-sidebar-expanded .step-history-sidebar-open .ofds4-resume-button span {
    margin: 0 5px 0 0;
  }
  .csd-clpc-sbc-search-input-message {
    font-size: .9rem;
    right: 140px;
    top: 27px;
  }
  .csd-clpc-sbc-search-button {
    width: 100px;
  }
  .csd-cvc-hipc-vicg-title {
    font-size: 1.2rem;
  }
  .csd-cvc-hipc-vicg-csc-title {
    font-size: .9rem;
  }
  .csd-cvc-hipc-vicg-csc-value {
    font-size: .9rem;
    width: 125px;
  }
}
@media (max-width: 1320px) {
  .csd-cvc-general-info .csd-cvcci-list,
  .csd-cvc-general-info-show-rating .csd-cvcci-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .csd-cvc-general-info .csd-clp-right-side-search-by-a-z,
  .csd-cvc-general-info-show-rating .csd-clp-right-side-search-by-a-z {
    padding: 30px 5px;
    width: 293px;
  }
  .csd-cvc-general-info .csd-clp-rssbaz-title,
  .csd-cvc-general-info-show-rating .csd-clp-rssbaz-title {
    font-size: 1.2rem;
  }
  .csd-cvc-general-info .csd-clp-rssbaz-subtitle,
  .csd-cvc-general-info-show-rating .csd-clp-rssbaz-subtitle {
    font-size: .85rem;
  }
  .csd-cvc-general-info .csd-clp-rssbaz-ali-header,
  .csd-cvc-general-info-show-rating .csd-clp-rssbaz-ali-header {
    padding: 0 0 0 20px;
  }
  .csd-cvc-general-info .csd-clp-rssbaz-aliptl-item button,
  .csd-cvc-general-info-show-rating .csd-clp-rssbaz-aliptl-item button {
    padding: 0 0 0 20px;
  }
  .csd-cvc-general-info .csdc-lp-search-customer-by-product-type .csd-contacts-landing-page-header,
  .csd-cvc-general-info-show-rating .csdc-lp-search-customer-by-product-type .csd-contacts-landing-page-header {
    padding: 20px 10px 0 15px;
  }
  .csd-cvc-general-info .csd-contacts-lpc-back-to-contact-center,
  .csd-cvc-general-info-show-rating .csd-contacts-lpc-back-to-contact-center {
    left: 15px;
    padding: 0 0 0 15px;
  }
  .csd-cvc-general-info .csdc-lp-search-customer-by-product-type .csd-clpc-search-bar-container,
  .csd-cvc-general-info-show-rating .csdc-lp-search-customer-by-product-type .csd-clpc-search-bar-container {
    padding: 0 5px 0;
  }
  .csd-cvc-general-info .csd-clpc-content-container,
  .csd-cvc-general-info-show-rating .csd-clpc-content-container {
    padding: 0 5px 15px;
  }
  .csd-cvc-general-info-show-rating .csdc-in-search-view-all-full .csd-clpc-sbc-search-result,
  .csd-cvc-general-info .csdc-in-search-view-all-full .csd-clpc-sbc-search-result {
    padding: 10px 0 0 10px;
  }
  .csd-cvc-general-info .csdc-lp-search-customer-by-product-type .csd-clpc-sbc-menu,
  .csd-cvc-general-info-show-rating .csdc-lp-search-customer-by-product-type .csd-clpc-sbc-menu {
    width: 200px;
  }
  .csd-cvc-general-info .csd-clpc-sbc-menu-header img,
  .csd-cvc-general-info-show-rating .csd-clpc-sbc-menu-header img {
    margin: 0 0 0 5px;
  }
  .csd-cvc-general-info .csd-clpc-sbc-menu-header span,
  .csd-cvc-general-info-show-rating .csd-clpc-sbc-menu-header span {
    font-size: .75rem;
    margin: 0 0 0 5px;
  }
  .csd-cvc-general-info .csd-clpc-sbc-search-input input,
  .csd-cvc-general-info-show-rating .csd-clpc-sbc-search-input input {
    background-position: 5px;
    font-size: .9rem;
    padding: 0 0 0 40px;
  }
  .csd-cvc-general-info .csd-clpc-sbc-search-input-message,
  .csd-cvc-general-info-show-rating .csd-clpc-sbc-search-input-message {
    font-size: .85rem;
    right: 115px;
    top: 27px;
  }
  .csd-cvc-general-info-show-rating .csd-cvci-gic-ig-lv-menu-header button,
  .csd-cvc-general-info-show-rating .csd-cvci-gic-ig-ctv-menu-header button,
  .csd-cvc-general-info-show-rating .csd-cvci-gic-ig-ltv-menu-header button,
  .csd-cvc-general-info-show-rating .csd-cvci-gic-ig-csv-menu-header button {
    background-position: right 5px center;
    font-family: inherit;
    font-size: .8rem;
    font-weight: 400;
    padding: 0 0 0 5px;
  }
  .csd-cvc-general-info-show-rating .csd-cvci-gic-info-grid > div:nth-child(-n+8) {
    font-size: .8rem;
  }
  .csd-pvp-project-summary .csd-cvcci-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .sdac-preview-by-social-media .sdac-tiepp-cqc-rsh-title {
    flex: 0 0 235px;
    font-size: 1.3rem;
  }
  .sdac-preview-by-social-media .sdac-tiepp-cqc-rsh-subtitle {
    font-size: .95rem;
    line-height: 13px;
  }
}
@media (max-width: 1283px) {
  .tfa-ten-digits-mobile-title-fields-container {
    grid-column-gap: 20px;
  }
  .left-sidebar-expanded .calendar-day-view-group-user-list-header {
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: 100px;
  }
  .left-sidebar-expanded .calendar-day-view-group-user-list-cols-container {
    grid-template-columns: repeat(auto-fill, 100px);
  }
  .left-sidebar-expanded .cdvgulh-user-list-you, .left-sidebar-expanded .cdvgulh-user-list {
    padding: 0 5px;
  }
  .left-sidebar-expanded .cdvgulh-uly-name, .left-sidebar-expanded .cdvgulh-ul-name {
    font-size: .7rem;
  }
  .left-sidebar-expanded .cdvgulh-user-list-you, .left-sidebar-expanded .cdvgulh-user-list {
    padding: 0 5px 10px;
  }
  .left-sidebar-expanded .calendar-day-view-group-user-list-header-container {
    height: 100px;
  }
  .left-sidebar-expanded .calendar-day-view-group-col-hour-container {
    grid-template-columns: 98px;
  }
  .left-sidebar-expanded .cdvgfch-container > span {
    padding: 0 0 0 10px;
  }
  .left-sidebar-expanded .calendar-day-view-group-col-hour {
    padding: 0 0 0 10px;
  }
  .left-sidebar-expanded .calendar-day-view-group-first-col-hour-container {
    grid-template-columns: 100px;
  }
  .left-sidebar-expanded .calendar-day-view-group-first-col-hour {
    width: 88px;
  }
  .left-sidebar-expanded .calendar-day-view-group-first-col-ch-time {
    font-size: .8rem;
  }
  .left-sidebar-expanded .calendar-schedule-day-view-expanded-container .cchc-date-menu {
    grid-template-columns: 60px 20px 120px 20px 60px;
    grid-template-rows: 30px;
  }
  .left-sidebar-expanded .calendar-schedule-day-view-expand-3-container .cchc-date-menu {
    grid-template-columns: 60px 20px 120px 20px 60px;
    grid-template-rows: 30px;
  }
  .cdac-pprbsmls-action-center-button {
    width: 130px;
  }
  .cdac-pprbsmls-action-center-button button {
    background-position: 5px;
    font-size: .9rem;
    padding: 0 0 0 26px;
  }
  .cdac-pprbsmls-title {
    margin: 0 0 0 10px;
  }
  .cdac-pprbsmls-proposal-pathway-icon {
    margin: 0 0 0 10px;
  }
  .cdac-pprbsmls-proposal-pathway-button {
    margin: 0 0 0 10px;
    width: 125px;
  }
  .cdac-pprbsmls-proposal-pathway-button button {
    background-position: 10px;
    font-size: 1rem;
    padding: 0 0 0 35px;
  }
  .cdac-pprbsmls-customer-qualification {
    font-size: 1.3rem;
    margin: 0 0 0 10px;
  }
  .cdac-pprbsmls-customer-qualification-review {
    font-size: .9rem;
    margin: 0 0 0 10px;
    width: 125px;
  }
  .cdac-pprbsmls-customer-qualification-button {
    margin: 0 0 0 10px;
    width: 125px;
  }
  .cdac-pprbsmls-customer-qualification-button button {
    background-position: 10px;
    font-size: .85rem;
    font-weight: 600;
    padding: 0 0 0 35px;
  }
  .cdac-pprbsm-crsb-link {
    font-size: .9rem;
  }
  .cdac-pprbsm-crsb-link button {
    font-size: .9rem;
  }
}
@media (max-width: 1280px) {
  .left-sidebar-expanded .account-settings-maincontent {
    padding: 100px 25px 0 25px;
  }
  .left-sidebar-expanded .account-settings-maincontent {
    padding: 100px 25px 0 25px;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-header {
    padding: 0 53px 0 56px;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-design-tool {
    padding: 22px 53px 0 56px;
  }
  .left-sidebar-expanded .optional-picture-maincontent-content {
    padding: 22px 53px 0 56px;
  }
  .left-sidebar-expanded .tms-maincontent-container {
    padding: 9px 5px 40px 5px;
  }
  .left-sidebar-expanded .tutorials-list-container {
    padding: 30px 5px 0 5px;
  }
  .csd-clph-title {
    font-size: 1.3rem;
  }
}
@media (max-width: 1268px) {
  .left-sidebar-expanded .cwlc-col-hour-container {
    grid-auto-rows: 90px;
    padding: 20px 5px 0 5px;
  }
  .csd-cvc-hipc-dc-home-detail,
  .csd-cvc-hipc-dc-inventory-detail {
    padding: 15px;
  }
  .csd-cvc-hipc-dchd-bedroom-bathroom-total {
    padding: 0 0 0 20px;
  }
}
@media (max-width: 1260px) {
  .view-folder-grid {
    grid-template-columns: repeat(4,170px);
  }
  .smpac-manage-users-content-container {
    padding: 15px 25px 25px 25px;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-header {
    padding: 0 43px 0 46px;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-design-tool {
    padding: 22px 43px 0 46px;
  }
  .left-sidebar-expanded .optional-picture-maincontent-content {
    padding: 22px 43px 0 46px;
  }
  .calendar-schedule-day-view-expand .cmlc-day-text {
    font-family: inherit;
    font-size: .7rem;
    font-weight: 400;
    z-index: 1;
  }
  .calendar-schedule-day-view-expand .cmlc-day {
    padding: 10px 5px;
  }
  .csd-vczi-hip-mctbb-cohl-list-item span {
    font-size: 1rem;
  }
}
@media (max-width: 1249px) {
  .left-sidebar-expanded .ip-srs-pause-reason-maincontent-container {
    padding: 20px 10px 10px 10px;
  }
  .left-sidebar-expanded .ip-checked-items-maincontent-content-container {
    padding: 0 10px 0 10px;
  }
  .left-sidebar-expanded .ip-checked-items-progress-checklist-container {
    margin: 0 0 0 5px;
  }
  .left-sidebar-expanded .ip-cimcrb-sa-signedby-time-container, .left-sidebar-expanded .ip-cimcrb-signing-approved-status-container {
    padding: 0 20px;
  }
}
@media (max-width: 1246px) {
  .left-sidebar-expanded .order-fulfillment-dashboard-step-4, .left-sidebar-expanded .order-fulfillment-dashboard-step-4-shm {
    padding: 15px 0 15px 5px;
  }
  .left-sidebar-expanded .ofds4-chart-buttons-container {
    padding: 0 20px 0 0;
  }
  .left-sidebar-expanded .ofds4-lock-button, .left-sidebar-expanded .ofds4-complete-button {
    margin: 0;
  }
  .left-sidebar-expanded .step-history-sidebar-open .ofds4-chart-buttons-container {
    padding: 0 10px 0 0;
  }
  .left-sidebar-expanded .calendar-day-view-group-content-header-container {
    padding: 0 5px 0 5px
  }
  .left-sidebar-expanded .calendar-content-header-date-container {
    padding: 0 5px 0 5px
  }
  .left-sidebar-expanded .cch-day-view-group-view-buttons-container {
    flex: 1 1 auto;
    min-width: 282px;
  }
  .left-sidebar-expanded .cch-view-buttons-container {
    flex: 1 1 auto;
    min-width: 282px;
  }
  .left-sidebar-expanded .cch-day-view-group-mini-full-buttons {
    width: 100px;
  }
  .left-sidebar-expanded .cch-today-mini-full-buttons {
    width: 100px;
  }
  .left-sidebar-expanded .cch-day-view-group-view-buttons-title {
    flex: 0 0 50px;
    font-family: inherit;
    font-size: .7rem;
  }
  .left-sidebar-expanded .cch-view-buttons-title {
    flex: 0 0 50px;
    font-family: inherit;
    font-size: .7rem;
  }
  .left-sidebar-expanded .cch-day-view-group-view-buttons a {
    font-family: inherit;
    font-size: .6rem;
    font-weight: 500;
    width: 45px;
  }
  .left-sidebar-expanded .cch-day-view-group-view-buttons a.selected {
    font-weight: 700;
  }
  .left-sidebar-expanded .cch-view-buttons a {
    font-family: inherit;
    font-size: .6rem;
    font-weight: 500;
    width: 45px;
  }
  .left-sidebar-expanded .cch-view-buttons a.selected {
    font-weight: 700;
  }
  .left-sidebar-expanded .cch-showing-menu-container {
    flex: 0 1 150px;
    min-width: 150px;
  }
  .calendar-schedule-day-view-expand .left-sidebar-expanded .cch-showing-menu-container {
    flex: 0 1 150px;
    min-width: 150px;
  }
  .left-sidebar-expanded .cch-day-view-group-showing-menu select {
    font-family: inherit;
    font-size: .7rem;
    font-weight: 500;
    padding: 0 0 0 15px;
    width: 100px;
  }
  .left-sidebar-expanded .cch-showing-menu select {
    font-family: inherit;
    font-size: .7rem;
    font-weight: 500;
    padding: 0 0 0 15px;
    width: 100px;
  }
  .left-sidebar-expanded .cch-today-mini-full-buttons-container {
    flex: 1 1 65px;
    margin: 0;
  }
  .left-sidebar-expanded .btn-cch-today {
    font-size: .6rem;
  }
  .left-sidebar-expanded .btn-cch-miniFull {
    font-size: .6rem;
  }
  .left-sidebar-expanded .cch-day-view-group-showing-menu-title {
    flex: 0 0 50px;
    font-size: .6rem;
  }
  .left-sidebar-expanded .cch-showing-menu-title {
    flex: 0 0 50px;
    font-size: .6rem;
  }
  .left-sidebar-expanded .cchc-chart {
    height: 121px;
    width: 121px;
  }
  .left-sidebar-expanded .cchc-date-container {
    flex: 0 1 150px
  }
  .calendar-schedule-day-view-expand .left-sidebar-expanded .cchc-date-container {
    flex: 1 1 150px
  }
  .left-sidebar-expanded .calendar-schedule-day-container .cchc-date-menu {
    grid-template-columns: 20px 110px 20px;
    grid-template-rows: auto 30px 25px;
  }
  .left-sidebar-expanded .cchc-date-day-view-text {
    font-size: .9rem;
  }
  .left-sidebar-expanded .cchc-date-day-view-title {
    font-size: 1rem;
  }
  .calendar-content-header-container .date-chart-mini .cchc-date-day-view {
    grid-template-columns: 130px 80px;
  }
  .calendar-schedule-day-view-expanded-container .cchc-date-menu {
    flex: 1 1 auto;
    grid-template-columns: 60px 20px 120px 20px 60px;
    grid-template-rows: 30px;
  }
  .calendar-schedule-day-view-expanded-container .cchc-date-container {
    flex: 1 1 150px;
  }
  .calendar-schedule-day-view-expand-3-container .cchc-date-menu {
    flex: 1 1 auto;
    grid-template-columns: 60px 20px 120px 20px 60px;
    grid-template-rows: 30px;
  }
  .calendar-content-header-container .date-chart-mini .cchc-date-menu {
    flex: 1 1 auto;
    grid-template-columns: 60px 20px 120px 20px 60px;
    grid-template-rows: 65px;
  }
  .calendar-schedule-day-view-expand-3-container .cchc-date-container {
    flex: 1 1 150px;
  }
  .calendar-schedule-team-new-effect-container .calendar-day-view-group-content-header-chart-container {
    padding: 20px 5px 15px 5px;
  }
  .calendar-schedule-monthly-view-expand-todays-task .calendar-day-view-group-content-header-chart-container {
    padding: 0 5px;
  }
  .calendar-schedule-monthly-red-almost-full .cmlc-day-text {
    font-family: inherit;
    font-size: .6rem;
    font-weight: 400;
    z-index: 1;
  }
}
@media (max-width: 1244px) {
  .csd-clpc-cc-mclc-content {
    display: none;
  }
  .csd-clpc-cc-mclc-vertical-content {
    display: flex;
  }
}
@media (max-width: 1240px) {
  .notific-page-top-bar {
    grid-template-columns: 220px auto 150px 100px;
  }
  .notific {
    grid-template-columns: repeat(2, 100px) auto 100px;
  }
  .notific-search {
    width: 150px;
  }
  .performance-default-view-buttons-container > button {
    background-position: 40px;
    padding: 0 10px 0 90px;
  }
  .left-sidebar-expanded .btn-payment span {
    display: none;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-header {
    padding: 0 33px 0 36px;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-design-tool {
    padding: 22px 33px 0 36px;
  }
  .left-sidebar-expanded .optional-picture-maincontent-content {
    padding: 22px 33px 0 36px;
  }
  .ijd-apcac-header {
    padding: 0 25px 0 25px;
  }
  .ijd-apc-ccawsynac-content-container {
    padding: 24px 25px 30px;
  }
  .ijd-apc-cscc-title {
    padding: 80px 20px 0 151px;
  }
  .ijd-apc-cscc-subtitle, .ijd-apc-cscc-instruction {
    padding: 0 20px 0 151px;
  }
  .ijd-apc-cscc-rate-container {
    padding: 0 20px 0 80px;
  }
  .ijd-apc-customer-survey-p3-footer {
    padding: 0 20px 0 151px;
  }
  .left-sidebar-expanded .cfytc-ccfm-grid {
    grid-template-columns: repeat(7, minmax(22px, 38px));
  }
  .left-sidebar-expanded .calendar-full-year-table-container {
    padding: 10px 10px 5px;
  }
  .left-sidebar-expanded .calendar-full-year-table {
    padding: 30px 10px 20px;
  }
  .csd-clph-buttons button {
    width: 135px;
  }
}
@media (max-width: 1223px) {
  .left-sidebar-expanded .io-hpolh-design-text {
    flex: 0 0 20px;
  }
}
@media (max-width: 1220px) {
  .project-gallery-uploaded-box-thumbs {
    grid-gap: 5px;
  }
  .project-gallery-uploaded-box-thumbs button {
    align-items: center;
    display: flex;
    height: 86.2px;
    justify-content: center;
    width: 122.2px;
  }
  .left-sidebar-expanded .design-preview-maincontent-container {
    padding: 20px 14px 10px 17px;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-header {
    padding: 0 23px 0 26px;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-design-tool {
    padding: 22px 23px 0 26px;
  }
  .left-sidebar-expanded .optional-picture-maincontent-content {
    padding: 22px 23px 0 26px;
  }
  .left-sidebar-expanded .io-hpor-row-container {
    font-family: inherit;
    font-size: .6rem;
    font-weight: 400;
    padding: 10px 5px 10px 5px;
  }
  .left-sidebar-expanded .io-oror-row-container {
    font-family: inherit;
    font-size: .6rem;
    font-weight: 400;
    padding: 10px 0 10px 5px;
  }
  .left-sidebar-expanded .inbound-orders-order-rooms-order-list-container {
    padding: 11px 5px;
  }
  .left-sidebar-expanded .inbound-orders-home-page-order-list-header {
    padding: 0 10px;
  }
  .io-hpolh-job, .io-hpolh-date, .io-hpolh-status {
    display: flex;
    justify-content: center;
  }
  .ijd-process-payment-addon-ip-popup {
    padding: 0 30px;
  }
}
@media (max-width: 1210px) {
  .pagination-page-number {
    padding-right: 0;
  }
  .user-profile-management-folder-view-folder-container {
    grid-template-columns: auto;
    grid-template-rows: 170px 615px;
  }
  .user-profile-management-folder-view-title-buttons {
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: auto;
    grid-template-rows: 40px 40px 30px 40px;
    justify-items: center;
  }
  .user-profile-management-folder-view-account-setting-button {
    grid-column: 1;
    grid-row: 1;
  }
  .user-profile-management-folder-view-pub-profile-management-button {
    grid-column: 1;
    grid-row: 2;
  }
  .user-profile-management-folder-view-title {
    grid-column: 1;
    grid-row: 3;
  }
  .user-profile-management-folder-view-subtitle {
    align-items: flex-start;
    grid-column: 1;
    grid-row: 4;
  }
  .issues-during-installation-maincontent-content-header, .installation-progress-full-maincontent-content-header {
    padding: 0 21px 0 26px;
  }
  .issues-during-installation-pages-maincontent-content {
    padding: 22px 21px 0 27px;
  }
  .left-sidebar-expanded .installation-progress-checked-items-container {
    padding: 30px 0 20px 20px;
  }
  .left-sidebar-expanded .installation-progress-checked-items-content {
    margin: 27px 30px 0 10px;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-2-header > div {
    font-size: .7rem;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-2-content > div {
    font-size: 1rem;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-2-header > div:nth-child(1) {
    flex: 0 1 200px;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-2-content > div:nth-child(1) {
    flex: 0 1 200px;
  }
  .ijd-appaipc-content {
    padding: 42px 30px 30px;
  }
  .left-sidebar-expanded .feedback-center-designer-feedback {
    padding: 25px 5px;
  }
  .csd-vczi-hip-mctbb-cohl-list-item,
  .csd-vczi-hip-mctbb-cohl-list .selected {
    font-size: .8rem;
    padding: 0 5px 0 10px;
  }
  .csd-cvccil-rsh-view-house-inventory-button,
  .csd-cvccil-rsh-view-house-inventory-button {
    width: 85px;
  }
  .csd-vczi-hip-mctbb-pohli-item {
    padding: 0 10px
  }
  .csd-cvccil-rsh-view-house-inventory-button button,
  .csd-vczi-hip-mctbb-pohli-item .csd-cvccil-rsh-view-house-inventory-button button {
    font-size: .8rem;
  }
}
@media (max-width: 1200px) {
  .csd-pvp-ps-project-id-value {
    font-size: .9rem;
  }
}
@media (max-width: 1198px) {
  .content-container.left-sidebar-expanded .performance-to-date-maincontent {
    padding: 27px 5px 0 5px;
  }
  .performance-pop-up-content-table {
    grid-column-gap: 0;
  }
  .left-sidebar-expanded .account-settings-setup-code-success-maincontent {
    padding: 37px 25px 0 25px;
  }
  .smpac-manage-users-content-container {
    padding: 15px 10px 25px 10px;
  }
  .smpac-manage-users-content-top-buttons > div:nth-child(4), .smpac-user-group-content-top-buttons > div:nth-child(4), .smpac-user-teams-content-top-buttons > div:nth-child(4), .smpac-assign-dashboard-content-top-buttons > div:nth-child(4) {
    flex: 0 1 50px;
  }
  .smpac-sortby span, .smpac-user-group-sortby span, .smpac-ad-sortby span {
    display: none;
  }
}
@media (max-width: 1185px) {
  .left-sidebar-expanded .design-preview-maincontent-content-header {
    padding: 0 13px 0 16px;
  }
  .left-sidebar-expanded .design-preview-maincontent-content-design-tool {
    padding: 22px 13px 0 16px;
  }
  .left-sidebar-expanded .optional-picture-maincontent-content {
    padding: 22px 13px 0 16px;
  }
  .left-sidebar-expanded .idi-pmc-left-content-damage-field {
    margin: 29px 0 0 0;
  }
  .left-sidebar-expanded .idi-pmc-left-content-buttons-title {
    margin: 25px 0 0 0;
  }
  .left-sidebar-expanded .idi-pmc-left-content-buttons {
    margin: 15px 0 0 0;
  }
  .left-sidebar-expanded .idi-pmc-left-content-thumbnails-container {
    margin: 20px 0 0 0;
  }
  .left-sidebar-expanded .issues-during-installation-pages-maincontent-content {
    padding: 22px 21px 0 16px;
  }
  .left-sidebar-expanded .idi-pmc-left-damage-parts-content-thumbnails-container, .left-sidebar-expanded .idi-pmc-left-damage-parts-yes-content-thumbnails-container, .left-sidebar-expanded .idi-pmc-left-content-improperly-manufactured-thumbnails-container, .left-sidebar-expanded .idi-pmc-left-content-incorrect-measurements-thumbnails-container, .left-sidebar-expanded .idi-pmc-left-content-missing-parts-thumbnails-container, .left-sidebar-expanded .idi-pmc-left-content-subtitle {
    margin: 20px 0 0 0;
  }
  .left-sidebar-expanded .idi-pmc-left-content-issues-submitted-thumbnails-container, .left-sidebar-expanded .idi-pmc-left-content-other-issues-thumbnails-container {
    margin: 25px 0 0 0;
  }
  .left-sidebar-expanded .idi-pmc-left-content-other-issues-damage-field {
    margin: 29px 0 0 0;
  }
  .left-sidebar-expanded .idi-pmc-left-content-other-issues-buttons {
    margin: 15px 0 0 0;
  }
  .left-sidebar-expanded .calendar-schedule-statistic-chart-rows-container .row-selected .calendar-schedule-statistic-chart {
    height: 178px;
    position: relative;
    width: 178px;
  }
  .left-sidebar-expanded .calendar-schedule-statistic-chart-rows-container .row-selected .cssc-inner-chart-container {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 14px;
    top: 14px;
  }
  .left-sidebar-expanded .calendar-schedule-statistic-chart-rows-container .row-selected {
    padding: 17px 0 0 10px;
  }
  .left-sidebar-expanded .calendar-schedule-statistic-chart-rows-container .row-selected .cssc-circle-chart-info-container {
    top: 33px;
  }
}
@media (max-width: 1170px) {
  .left-sidebar-expanded .btn-save {
    height: 40px;
  }
  .left-sidebar-expanded .btn-save span {
    display: none;
  }
  .left-sidebar-expanded .tfa-text {
    font-size: 1.4rem;
  }
  .left-sidebar-expanded .account-settings-maincontent {
    grid-template-rows: 60px 110px 200px 100px auto;
  }
  .left-sidebar-expanded .tfa-six-digits-code-fields {
    margin-top: 65px;
  }
  .left-sidebar-expanded .tfa-six-digits-code-fields > div > input {
    height: 80px;
    width: 80px;
  }
  .left-sidebar-expanded .tfa-six-digits-code-fields {
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: 80px;
    grid-gap: 27px;
  }
  .tfa-ten-digits-mobile-title-fields-container {
    grid-template-columns: 10px repeat(3, 50px) 10px repeat(4, 50px) 10px repeat(3, 50px);
    grid-column-gap: 10px;
  }
  .tfa-ten-digits-mobile-title-fields-container > div:not(:nth-child(-n+2)):not(:nth-child(3)):not(:nth-child(7)):not(:nth-child(12)) {
    height: 50px;
    width: 50px;
  }
  .tfa-ten-digits-mobile-title-fields-container > div > input {
    height: 50px;
    width: 50px;
  }
  .user-profile-folder-preview-photo-photos-container {
    padding: 15px 10px 0 10px;
  }
  .left-sidebar-expanded .ip-checked-items-progress-checklist-items-container {
    margin: 20px 5px 0 0;
    padding: 0 5px 0 5px;
  }
  .left-sidebar-expanded .ip-ci-checked-items-menu-container {
    background-position: 5px;
  }
  .left-sidebar-expanded .ip-ci-checked-items-menu {
    padding: 0 5px 0 35px;
  }
  .left-sidebar-expanded .ip-ci-checked-items-list {
    margin: 30px 5px 0 0;
    padding: 0 0 0 5px;
  }
  .left-sidebar-expanded .ipcirbuh-history-list-item-container {
    background-position: 15px;
    padding: 0 0 0 20px;
  }
  .left-sidebar-expanded .ipcirbuh-history-list-items {
    margin: 0 10px 0 0;
  }
  .left-sidebar-expanded .ipcirbuh-history-list-item {
    padding: 0 10px 0 7px;
  }
  .left-sidebar-expanded .calendar-schedule-statistic-charts-button-container {
    flex-wrap: wrap;
  }
  .left-sidebar-expanded .calendar-schedule-statistic-chart-row {
    height: 240px;
  }
  .left-sidebar-expanded .calendar-schedule-statistic-chart-rows-container .row-selected {
    height: 280px;
  }
  .sdac-tiepp-customer-qualification {
    padding: 20px 10px;
  }
  .sdac-tiepp-cq-content {
    padding: 30px 10px;
  }
  .sdac-tiepp-cqc-rsh-title {
    flex: 0 0 240px;
    font-size: 1.3rem;
  }
  .sdac-tiepp-cqc-rsh-subtitle {
    flex: 1 1 auto;
    font-size: .95rem;
  }
  .sdac-tiepp-cqc-close-button {
    position: absolute;
    right: 7px;
    top: 15px;
  }
  .sdac-tiepp-cqc-close-button button {
    font-size: .8rem;
  }
}
@media (max-width: 1164px) {
  .left-sidebar-expanded .user-profile-management-title-back {
    grid-template-columns: auto;
    grid-template-rows: 60px 40px 30px;
    grid-column: 1;
    grid-row: 1;
    justify-items: center;
  }
  .left-sidebar-expanded .user-profile-management-back-button {
    grid-column: 1;
    grid-row: 1;
  }
  .left-sidebar-expanded .user-profile-management-title {
    grid-column: 1;
    grid-row: 2;
  }
  .left-sidebar-expanded .user-profile-management-subtitle {
    grid-column: 1;
    grid-row: 3;
  }
  .left-sidebar-expanded .user-profile-management-container {
    grid-template-rows: 135px auto;
  }
  .csd-cvcci-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .csd-clp-right-side-search-by-a-z {
    padding: 30px 5px;
    width: 293px;
  }
  .csd-clp-rssbaz-title {
    font-size: 1.2rem;
  }
  .csd-clp-rssbaz-subtitle {
    font-size: .85rem;
  }
  .csd-clp-rssbaz-ali-header {
    padding: 0 0 0 20px;
  }
  .csd-clp-rssbaz-aliptl-item button {
    padding: 0 0 0 20px;
  }
  .csdc-lp-search-customer-by-product-type .csd-contacts-landing-page-header {
    padding: 20px 10px 0 15px;
  }
  .csd-contacts-lpc-back-to-contact-center {
    left: 15px;
    padding: 0 0 0 15px;
  }
  .csdc-lp-search-customer-by-product-type .csd-clpc-search-bar-container {
    padding: 0 5px 0;
  }
  .csd-clpc-content-container {
    padding: 0 5px 15px;
  }
  .csdc-in-search-view-all-full .csd-clpc-sbc-search-result {
    padding: 10px 0 0 10px;
  }
  .csdc-lp-search-customer-by-product-type .csd-clpc-sbc-menu {
    width: 200px;
  }
  .csd-clpc-sbc-menu-header img {
    margin: 0 0 0 5px;
  }
  .csd-clpc-sbc-menu-header span {
    font-size: .75rem;
    margin: 0 0 0 5px;
  }
  .csd-clpc-sbc-search-input input {
    background-position: 5px;
    font-size: .9rem;
    padding: 0 0 0 40px;
  }
  .csd-clpc-sbc-search-input-message {
    font-size: .85rem;
    right: 115px;
    top: 27px;
  }
}
@media (max-width: 1156px) {
  .left-sidebar-expanded .account-settings-default-view {
    padding: 28px 5px 15px 5px;
  }
  .left-sidebar-expanded .asdvc-title-button-button {
    height: 40px;
    width: 120px;
  }
  .left-sidebar-expanded .btn-asdvcchange {
    width: 110px;
  }
  .sdac-tiepp-cqc-rs-most-recent-added-customer-container,
  .sdac-tiepp-cqc-rs-review-by-social-media {
    padding: 20px 10px;
  }
  .sdac-tiepp-cq-rbsm-list {
    grid-column-gap: 5px;
  }
}
@media (max-width: 1153px) {
  .left-sidebar-expanded .installation-progress-checked-items-title-status {
    height: 60px;
  }
  .left-sidebar-expanded .calendar-day-view-group-first-col-hour-container {
    grid-template-columns: 85px;
  }
  .left-sidebar-expanded .calendar-day-view-group-first-col-hour {
    width: 77px;
  }
  .left-sidebar-expanded .calendar-day-view-group-first-col-hour hr {
    width: 57px;
  }
  .calendar-schedule-day-view-expanded-container .cchc-date-day-view {
    flex: 0 1 auto;
    grid-template-columns: 125px 138px;
  }
  .calendar-schedule-day-view-expand-3-container .cchc-date-day-view {
    flex: 0 1 auto;
    grid-template-columns: 125px 138px;
  }
}
@media (max-width: 1152px) {
  .customer-reviews-maincontent-container {
    padding: 30px 10px 0 10px;
  }
  .user-profile-management-content {
    padding: 32px 22px 25px 27px;
  }
  .project-gallery-uploaded-box-thumbs {
    grid-gap: 5px;
  }
  .display-elements-gallery {
    grid-gap: 30px;
  }
  .project-gallery-uploaded-box-thumbs button {
    align-items: center;
    display: flex;
    height: 71.2px;
    justify-content: center;
    width: 100.2px;
  }
  .project-gallery-uploaded-box-button {
    font-size: 1rem;
    width: 230px;
  }
  .left-sidebar-expanded .ijd-gnMap-header {
    padding: 0 5px 0 5px;
  }
  .left-sidebar-expanded .calendar-day-view-group-user-list-header-container {
    height: 85px;
  }
  .left-sidebar-expanded .calendar-day-view-group-user-list-header {
    grid-template-columns: repeat(auto-fill, 85px);
    grid-template-rows: 85px;
  }
  .left-sidebar-expanded .cdvgulh-uly-name, .left-sidebar-expanded .cdvgulh-ul-name {
    font-size: .6rem;
  }
  .left-sidebar-expanded .calendar-day-view-group-user-list-cols-container {
    grid-template-columns: repeat(auto-fill, 85px);
  }
  .left-sidebar-expanded .cdvgulh-user-list-you, .left-sidebar-expanded .cdvgulh-user-list {
    padding: 0;
  }
  .left-sidebar-expanded .cdvgulh-uly-perogress-bar, .left-sidebar-expanded .cdvgulh-ul-perogress-bar {
    height: 85px;
    padding: 0;
  }
  .left-sidebar-expanded .cdvgfch-container > span {
    padding: 0 0 0 2px;
  }
  .left-sidebar-expanded .calendar-day-view-group-col-hour {
    padding: 0 0 0 2px;
  }
  .csd-cv-ch-customer-tier-3 {
    font-size: .8rem;
    width: 110px;
  }
  .csd-cv-ch-customer-tier-3-header button {
    font-size: .8rem;
  }
  .csd-cv-ch-customer-tier-1 {
    font-size: .8rem;
    width: 110px;
  }
  .csd-cv-ch-customer-tier-1-header button {
    font-size: .8rem;
  }
  .csd-cv-ch-customer-tier-preferred-customer {
    width: 90px;
  }
  .csd-cv-ch-customer-tier-preferred-customer-header button {
    font-size: .7rem;
  }
  .csd-cv-ch-customer-tier-professional {
    font-size: .8rem;
    width: 110px;
  }
  .csd-cv-ch-customer-tier-professional-header button {
    font-size: .8rem;
  }
  .csd-cv-ch-diy-button button {
    font-size: .7rem;
  }
  .csd-cv-ch-email-button button,
  .csd-cv-ch-design-button button,
  .csd-cv-ch-invoice-button button,
  .csd-cv-ch-referrals-button button,
  .csd-cv-ch-chat-button button,
  .csd-cv-ch-contact-name {
    font-size: .8rem;
  }
  .csd-cv-ch-view-contact-button {
    flex: 0 0 105px;
  }
  .csd-cv-ch-contact-center-button button {
    background-position: 10px;
    padding: 0 0 0 28px;
    width: 100px;
  }
}
@media (max-width: 1140px) {
  .left-sidebar-expanded .ip-checked-items-progress-checklist-header {
    height: 60px;
  }
  .left-sidebar-expanded .ip-ci-checked-items-list-container {
    bottom: 39px;
  }
  .ijd-apc-ccawsynac-cc-payment-type {
    height: 180px;
    width: 180px;
  }
  .ijd-apc-ccawsynac-cc-payment-type-cont {
    grid-template-columns: repeat(5, 180px);
    justify-content: space-between;
    margin: 49px 0 0;
    width: 100%;
  }
}
@media (max-width: 1134px) {
  .left-sidebar-expanded .customer-information-maincontent-container {
    padding: 35px 10px 10px 10px;
  }
  .csd-clpc-tabs-container button {
    font-size: .9rem;
  }
  .csd-clpc-tabs-container .selected button {
    font-size: 1rem;
  }
  .csd-clpc-cc-mclc-header-title {
    flex: 0 0 120px;
  }
  .csd-clpc-cc-mclc-header-total-contact {
    font-size: .9rem;
  }
  .csd-pvp-ps-project-id-value {
    font-size: .8rem;
  }
  .csd-pvp-ps-nodv-title {
    font-size: .9rem;
    margin: 0 0 0 5px;
  }
}
@media (max-width: 1130px) {
  .left-sidebar-expanded .btn-sync {
    height: 40px;
  }
  .left-sidebar-expanded .btn-sync span {
    display: none;
  }
  .performance-pop-up-container.show {
    padding-left: 20px;
  }
  .left-sidebar-expanded .calendar-full-year-table {
    padding: 30px 30 20px;
  }
  .csd-vczi-hip-mc-pohli-title {
    font-size: .9rem;
  }
}
@media (max-width: 1122px) {
  .contact-us-container.full-view .contact {
    width: 600px;
  }
  .left-sidebar-expanded .setup-code-success-text {
    font-size: 1.5rem;
  }
  .left-sidebar-expanded .btn-role {
    font-size: .7rem;
    width: 100px;
  }
  .left-sidebar-expanded .tms-mtmt-header {
    font-size: .7rem;
    grid-template-columns: 50px minmax(85px, 95px) minmax(120px, auto) minmax(45px, 100px) minmax(110px, 90px) minmax(70px, 70px);
    padding: 0 3px;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-1 {
    font-size: .8rem;
    grid-template-columns: 30px minmax(100px, 110px) minmax(100px, auto) minmax(60px, 80px) minmax(80px, 100px) minmax(70px, 100px);
    padding: 0 3px;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-2-header > div:nth-child(1) {
    flex: 0 1 140px;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-2-content > div:nth-child(1) {
    flex: 0 1 140px;
  }
  .right-sidebar-expanded .fulfillment-dashboard-tms-maincontent-container {
    padding: 9px 15px 40px 15px;
  }
}
@media (max-width: 1112px) {
  .maincontent-container {
    padding: 30px 25px 0 30px;
  }
  .left-sidebar-expanded .project-gallery-subtitle {
    display: none;
  }
  .left-sidebar-expanded .project-gallery {
    grid-template-rows: 70px 244px;
  }
  .calendar-schedule-day-view-expanded-container .cchc-date-day-view {
    flex: 0 1 auto;
    grid-template-columns: 115px 125px;
  }
  .calendar-schedule-day-view-expanded-container .cchc-date-day-view-title {
    font-size: .9rem;
    font-weight: 700;
  }
  .calendar-schedule-day-view-expanded-container .cchc-date-day-view-text {
    font-size: .8rem;
    font-weight: 400;
  }
  .calendar-schedule-day-view-expand-3-container .cchc-date-day-view {
    flex: 0 1 auto;
    grid-template-columns: 115px 125px;
  }
  .calendar-schedule-day-view-expand-3-container .cchc-date-day-view-title {
    font-size: .9rem;
    font-weight: 700;
  }
  .calendar-schedule-day-view-expand-3-container .cchc-date-day-view-text {
    font-size: .8rem;
    font-weight: 400;
  }
}
@media (max-width: 1102px) {
  .left-sidebar-expanded .installation-progress-full-maincontent-container {
    padding: 20px 6px 10px 7px;
  }
}
@media (max-width: 1098px) {
  .left-sidebar-expanded .issues-during-installation-maincontent-container {
    padding: 20px 5px 10px 5px;
  }
  .left-sidebar-expanded .issues-during-installation-pages-maincontent-content {
    padding: 22px 5px 0 5px;
  }
  .left-sidebar-expanded .ijd-gnMap-mc-navigation-button button {
    background-position: right 10px center;
    padding: 0 30px 0 0;
  }
  .left-sidebar-expanded .ijd-gnMap-mc-footer-buttons-container button:not(:first-child) {
    margin: 0 0 0 5px;
  }
  .left-sidebar-expanded .ijd-gnMap-mc-footer-buttons-container button span {
    font-size: .7rem;
  }
}
@media (max-width: 1093px) {
  .left-sidebar-expanded .btn-messenger {
    height: 40px;
  }
  .left-sidebar-expanded .btn-messenger span {
    display: none;
  }
  .left-sidebar-expanded .ijd-document-center-maincontent-header-filter {
    flex: 0 0 145px;
  }
  .left-sidebar-expanded .ijd-document-center-maincontent-header-form input[type=text] {
    width: 190px;
  }
  .left-sidebar-expanded .ijd-document-center-maincontent-header-form button {
    width: 58px;
  }
  .left-sidebar-expanded .ijd-document-center-maincontent-header-form a {
    width: 58px;
  }
  .left-sidebar-expanded .ijd-si-job-site-documents-maincontent-header-title {
    background-position: 10px;
    padding: 0 0 0 35px;
  }
  .left-sidebar-expanded .ijd-si-job-site-documents-maincontent-header-title span {
    flex: 0 0 190px;
  }
  .left-sidebar-expanded .calendar-content-header-date-container {
    flex-wrap: unset;
    height: 60px;
    padding: 0 5px;
  }
  .left-sidebar-expanded.right-sidebar-expanded .calendar-sidebar-container {
    width: 70px;
  }
  .left-sidebar-expanded.right-sidebar-expanded .calendar-sidebar-container > div {
    width: 70px;
  }
  .left-sidebar-expanded .tutorials-list-pagination {
    grid-column-gap: 6px;
  }
}
@media (max-width: 1088px) {
  .contact-us-container.normal-view .contact-details-container {
    padding-left: 10px;
  }
  .contact-us-container.normal-view {
    grid-template-columns: minmax(300px, auto) max-content;
  }
  .contact-us-container.normal-view .contact {
    width: 300px;
  }
  .performance-default-view-buttons-container > button {
    padding: 0 10px 0 60px;
    background-position: 20px;
  }
  .left-sidebar-expanded .user-profile-management-container {
    padding: 30px 10px 15px 10px;
  }
  .left-sidebar-expanded .io-oror-order-rooms-list-content-container {
    padding: 20px 5px;
  }
  .left-sidebar-expanded .io-oror-order-rooms-list-header {
    padding: 10px 0 10px 5px;
  }
  .left-sidebar-expanded .ijd-mcfcc-header-search {
    padding: 0 10px 0 40px
  }
}
@media (max-width: 1081px) {
  .left-sidebar-expanded .account-settings-default-view-content {
    padding: 35px 10px 35px 10px;
  }
}
@media (max-width: 1080px) {
  .left-sidebar-expanded .maincontent-container {
    padding: 30px 15px 0 15px;
  }
  .left-sidebar-expanded .designer-name-container {
    padding: 0;
  }
  .contact-us-container.full-view .contact {
    width: 500px;
  }
  .user-profile-folder-preview-photo-photos-container {
    grid-template-columns: auto 1px auto;
  }
  .folder-preview-photos-grid {
    align-content: flex-start;
    grid-gap: 10px;
    grid-template-columns: 120px 120px;
    justify-content: center;
  }
  .folder-preview-photos-photo {
    height: 85px;
    width: 120px;
  }
  .folder-preview-photos-photo > button {
    padding: 0 5px 0 5px;
  }
  .folder-preview-photos-photo-trash {
    bottom: 0;
    right: 0;
  }
  .user-profile-folder-view-folder-container {
    padding: 15px 10px 20px 18px;
  }
  .left-sidebar-expanded .customer-information-content {
    padding: 20px 0;
  }
  .left-sidebar-expanded .job-site-address-container {
    padding: 20px 0 3px 0;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-2-header > div:nth-child(1) {
    flex: 0 1 120px;
  }
  .left-sidebar-expanded .tms-mtmt-row-subrow-2-content > div:nth-child(1) {
    flex: 0 1 120px;
  }
  .left-sidebar-expanded .inbound-orders-order-rooms-header {
    padding: 0 5px;
  }
  .left-sidebar-expanded .calendar-full-year-table {
    padding: 30px 25px 20px 5px;
  }
  .left-sidebar-expanded .calendar-full-year-table-container {
    padding: 10px 5px 5px;
  }
  .left-sidebar-expanded .human-resources-page {
    padding: 25px 20px;
  }
  .left-sidebar-expanded .human-resources-content-employee-data {
    padding: 20px;
  }
  .csd-contacts-view-customer-info {
    padding: 0 0 0 10px;
  }
  .csd-cvci-general-info-container {
    margin: 0 0 0 5px;
  }
  .csd-cvci-gic-info-grid {
    grid-template-columns: 130px 97px minmax(72px, auto) repeat(4, minmax(60px, 180px));
  }
  .csd-vczi-hip-mc-title {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
@media (max-width: 1070px) {
  .left-sidebar-expanded .fcc-rate-bc-rate-soso-text, .left-sidebar-expanded .fcc-rate-bc-rate-verywell-text {
    font-size: 1.2rem;
  }
  .csd-cv-ch-customer-tier-3 {
    font-size: .7rem;
    text-align: center;
    width: 100%;
  }
  .csd-cv-ch-contact-name {
    min-width: 69px;
  }
  .csd-cv-ch-contact-center-button button {
    width: 90px;
  }
  .csd-clph-title {
    font-size: .9rem;
  }
  .csdc-in-search-view-all-full .csd-clph-title {
    padding: 9px 0 0 140px;
  }
}
@media (max-width: 1064px) {
  .user-profile-upload-photo-added-content {
    grid-template-columns: auto auto;
  }
  .upload-photo-narrow-bar-added {
    padding: 32px 5px 17px 5px;
    width: auto;
  }
  .smpac-ad-sortby {
    display: none;
  }
  .csd-cvcb-tab-buttons {
    left: 23%;
  }
}
@media (max-width: 1057px) {
  .maincontent-container {
    padding: 30px 5px 0 5px;
  }
  .jobs-container {
    grid-template-columns: auto 15px;
  }
  .left-sidebar-expanded .account-settings-maincontent {
    padding: 100px 15px 0 15px;
  }
  .left-sidebar-expanded .tfa-ten-digits-mobile-title-fields-container {
    grid-template-columns: 7px repeat(3, 50px) 7px repeat(4, 50px) 7px repeat(3, 50px);
    grid-column-gap: 9px;
  }
  .update-preview-buttons input {
    width: 200px;
  }
  .left-sidebar-expanded .ip-cimcrb-sa-signedby-time-container, .left-sidebar-expanded .ip-cimcrb-signing-approved-status-container {
    padding: 0 10px;
  }
}
@media (max-width: 1050px) {
  .smpac-user-teams-content-top-buttons > div:nth-child(4), .smpac-assign-dashboard-content-top-buttons > div:nth-child(4) {
    display: none;
  }
  .smpac-user-teams-content-top-buttons > div:nth-child(2) {
    flex: 0 0 460px;
  }
  .smpac-user-teams-content-top-buttons > div:nth-child(2) > form {
    flex: 0 0 450px;
  }
}
@media (max-width: 1042px) {
  .left-sidebar-expanded .ipfmc-room-box-container {
    grid-gap: 5px;
  }
}
@media (max-width: 1040px) {
  .left-sidebar-expanded .personal-biography-title {
    font-size: .8rem;
  }
  .user-profile-management-folder-view-folder-container {
    padding: 30px 20px 15px 30px;
  }
}
@media (max-width: 1034px) {
  .performance-to-date-stats-title-content-container {
    padding: 20px 10px 10px 13px;
  }
  .customer-information-content {
    padding: 20px 0 20px 30px;
  }
  .left-sidebar-expanded .customer-information-content {
    padding: 20px 0 20px 10px;
  }
  .left-sidebar-expanded .io-oror-orlc-rooms-list {
    grid-gap: 5px;
  }
  .left-sidebar-expanded .io-oror-order-rooms-list-content-container {
    padding: 20px 3px;
  }
}
